.vs/
LoginWithIAS/App_Data/XmlDocument.xml
LoginWithIAS/Controllers/UssersProcessController.cs
LoginWithIAS/bin/LoginWithIAS.dll
LoginWithIAS/bin/LoginWithIAS.pdb
LoginWithIAS/obj/Debug/ApiInstaProcess.csprojAssemblyReference.cache
LoginWithIAS/obj/Release/ApiInstaProcess.csprojAssemblyReference.cache