.vs\ApiInstaProcess\v16\.suo
LoginWithIAS/App_Data/XmlDocument.xml
LoginWithIAS/Controllers/UssersProcessController.cs
LoginWithIAS/bin/LoginWithIAS.dll
LoginWithIAS/bin/LoginWithIAS.pdb
LoginWithIAS/obj/Debug/ApiInstaProcess.csprojAssemblyReference.cache
LoginWithIAS/obj/Release/ApiInstaProcess.csprojAssemblyReference.cache
LoginWithIAS/Properties/PublishProfiles/FolderProfile.pubxml.user
LoginWithIAS/bin/XmlDocument.xml
LoginWithIAS/obj/Debug/ApiInstaProcess.csproj.CoreCompileInputs.cache
LoginWithIAS/obj/Debug/ApiInstaProcess.csproj.FileListAbsolute.txt
LoginWithIAS/obj/Debug/LoginWithIAS.dll
LoginWithIAS/obj/Debug/LoginWithIAS.pdb
LoginWithIAS/obj/Release/ApiInstaProcess.csproj.CoreCompileInputs.cache
LoginWithIAS/obj/Release/ApiInstaProcess.csproj.FileListAbsolute.txt
LoginWithIAS/obj/Release/ApiInstaProcess.csprojAssemblyReference.cache
LoginWithIAS/obj/Release/LoginWithIAS.dll
LoginWithIAS/obj/Release/LoginWithIAS.pdb
LoginWithIAS/obj/Release/Package/PackageTmp/App_Data/XmlDocument.xml
LoginWithIAS/obj/Release/Package/PackageTmp/bin/LoginWithIAS.dll
LoginWithIAS/obj/Release/Package/PackageTmp/bin/LoginWithIAS.pdb